/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

[x-cloak] {
    display: none !important;
}

[hidden] {
    display: none !important;
}

html {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    @apply h-full antialiased text-zinc-700 dark: text-zinc-200 bg-zinc-50 dark:bg-zinc-900;
}